body {
    font-family: sans-serif;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

#controls {
    margin-bottom: 20px;
    text-align: center;
}

#controls label {
    margin-right: 10px;
}

#controls input, #controls select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 15px;
}

#loading {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}
